<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Grythyttan stålmöbler</title>
        {{ function('get_stylesheets') }}
        <!--[if lt IE 9]>
            <script src="{{theme.link}}/assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <![endif]-->
        {{ function('wp_head') }}
    </head>
    <body class="{{ body_class }}">

        <header class="site-header">
            <div class="inner clearfix">
                <div class="brand">
                    <div class="logo">
                        <a href="{{site.link}}">
                            <picture>
                            <source type="image/svg+xml" srcset="{{theme.link}}/assets/img/grythyttan-logo.svg">
                            <img srcset="{{theme.link}}/assets/img/grythyttan-logo.png" alt="Grythyttan stålmöbler">
                            </picture>
                        </a>
                    </div>
                    <div class="social-media-icons">
                        {% include 'partials/social-media-icons.twig' %}
                    </div>
                </div>

                <div class="mobile-menu-icon-wrap">
                   <button id="mobile-menu-toggle" class="mobile-menu-icon">Meny</button> 
                </div>
                
                <nav class="main-menu">
                    <ul>
                        {% for menu_item in menu_items %}

                            {% set classes = menu_item['classes'] %}
                            {% if active_menu_item == menu_item['name'] %}
                                {% set classes = 'active ' ~ classes %}
                            {% endif %}
                            <li class="main-menu-item">
                                <a href="{{ menu_item['link'] }}" class="button {{ classes }}" target="{{ menu_item['target'] }}">
                                    {{ menu_item['link_text'] }}
                                </a>
                            </li>

                        {% endfor %}
                    </ul>
                    <div class="social-media-icons">
                        {% include 'partials/social-media-icons.twig' %}
                    </div>
                </nav>
            </div>
            <div class="header-border"></div>
        </header>

