{% extends 'master.twig' %}
{% block main %}
    <section id="intro" class="full-height has-background">
        <div class="site-width">
            <div class="inner">
                <div class="section-content">
                    <h1 class="title fade-in step-1">En svensk historie<br>– nå i Norge.</h1>
                    <div class="title-br fade-in step-1"></div>
                    <p class="fade-in step-2">Vårt gyngende håndverk har vært en selvsagt del av den svenske sommeren i over åtti år – og nå synes vi at møblene er klare for Norge.</p>
                    <div class="hide-on-small">
                        <a class="round-button green-fill green-border js-slide-to-section fade-in step-3" href="#hantverk">
                            Oppdage<br>mer<br>&#8595;
                        </a>
                    </div>
                </div>
                <img src="{{theme.link}}/assets/img/start-medium.jpg" class="hide-on-large">
            </div>    
        </div>
        <div class="floating-button">
            <div class="site-width">
                <div class="button-wrap">
                    <div class="hide-on-small">
                        <a class="round-button border grey-border transparent-fill" href="{{site.link}}/no/vara-mobler">
                            Våre<br>møbler
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    
    <div id="lazyload-slider"></div>
    <section id="hantverk">
        <div class="slider">
            <div class="slide slide-1 full-height has-background" data-bg="{{theme.link}}/assets/img/slides/hantverk/hantverk-1.jpg">
                <div class="site-width">
                    <div class="inner">
                        <div class="section-content on-background">
                            <h1 class="title fade-in">Følelse og tradisjon.</h1>
                            <div class="title-br center-block fade-in"></div>
                            <p class="fade-in step-2">En enkel, naturlig og tidløs form. Hver detalj er viktig og gjennomarbeidet. Det er den rene og solide følelsen vi vil formidle i alt vi gjør. Og bringe videre til alle vi møter. </p>    
                            <a class="round-button green-fill green-border js-next-slide fade-in step-3" href="#">Les mer<br>&#8594;</a>
                            <div class="js-animation-trigger" data-animate="hantverk"></div>
                        </div>
                    </div>    
                </div><!-- site-width --> 
            </div>
            <div class="slide slide-2 full-height has-background" data-bg="{{theme.link}}/assets/img/slides/hantverk/hantverk-2.jpg">
                <div class="site-width">
                    <div class="inner">
                        <div class="section-content on-background">
                            <p>Hvert møbel er et resultat av ekte håndverksarbeid. Våre smeder arbeider med største nøyaktighet og presisjon. Med nennsom hånd sørger de for at Grythyttan Stålmöblers arv og historie lever videre. Møblene produseres av fjærstål av ypperste kvalitet.</p>
                            <a class="round-button green-fill green-border js-next-slide" href="#">&#8594;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slide-3 full-height has-background" data-bg="{{theme.link}}/assets/img/slides/hantverk/hantverk-3.jpg">
                <div class="site-width">
                    <div class="inner">
                        <div class="section-content on-background">
                            <p>Hemmeligheten bak den behagelige gyngingen i stolene ligger i stativet, som produseres på fabrikken i Grythyttan. En prosess som ikke kan automatiseres, men er avhengig av fornemmelse og erfaring for å bli perfekt.</p>
                            <a class="round-button green-fill green-border js-next-slide" href="#">&#8594;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slide-4 full-height has-background" data-bg="{{theme.link}}/assets/img/slides/hantverk/hantverk-4.jpg">
                <div class="site-width">
                    <div class="inner">
                        <div class="section-content on-background">
                            <p>På samme måte som stålet blir trematerialer til sete og rygg omsorgsfullt valgt ut og behandlet for å få et langt liv. Deretter monteres stolene for hånd og pakkes individuelt. Det handler om en tradisjon vi vil føre videre i møblene våre. En følelse av Grythyttan og oss som bor her. </p>
                            <a class="round-button green-fill green-border js-next-slide" href="#">&#8594;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slide-5 full-height has-background" data-bg="{{theme.link}}/assets/img/slides/hantverk/hantverk-5.jpg">
                <div class="site-width">
                    <div class="inner">
                        <div class="section-content on-background">
                            <p>Det er derfor vi bare produserer et visst antall møbler hvert år. Det er det som gjør oss til Grythyttan Stålmöbler.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </section>

    <section id="high-tech" class="full-height">
        <div class="section-image">
            <img class="move-up" data-srcset="{{theme.link}}/assets/img/stol-hightech.jpg 1216w, {{theme.link}}/assets/img/stol-hightech_x2.jpg 2x">
            <noscript><img class="move-up" src="{{theme.link}}/assets/img/stol-hightech.jpg"></noscript>
        </div>
        <div class="site-width">
            <div class="inner">
                <div class="section-content">
                    <h1 class="title fade-in">Vår siste nyhet er en klassiker. </h1>
                    <div class="title-br fade-in"></div>
                    <p class="fade-in step-2">High-Tech er et tydelig bevis på at vi skynder oss langsomt. Det er vår siste, store nyhet, utviklet av Nisse Strinning og lansert på åttitallet. Stolen har allerede fått klassikerstatus i manges øyne. Vi synes nok heller den gir en smak av fremtiden. Eller hva synes du?</p>
                    <div class="js-animation-trigger" data-animate="high-tech"></div>
                    <div class="button-wrap">
                        <a class="round-button border grey-border transparent-fill fade-in step-3" href="{{site.link}}/no/vara-mobler/high-tech">
                            Våre<br>møbler
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="historia" class="full-height has-background" data-bg="{{theme.link}}/assets/img/historia.jpg">
        <div class="site-width">
            <div class="inner">
                <div class="section-content on-background">
                    <h1 class="title fade-in">En stols liv og levnet.</h1>
                    <div class="title-br fade-in"></div>
                    <p class="fade-in step-2">Familien Lindqvist i Grythyttan begynte å produsere hestesko i 1895. Sønnen Artur fulgte senere i faren Karl sine fotspor, men Artur hadde visjoner som gikk utover det tradisjonelle smedarbeidet. Til Stockholmsutstillingen i 1930 tegnet og produserte Artur den nå klassiske stolen A2 i fjærstål.</p>
                    <div class="js-animation-trigger" data-animate="historia"></div>
                </div>
            </div>    
        </div>
    </section>

    {% include 'partials/produktserier.twig' %} 

    <section>
        <div class="footer-background" data-bg="{{theme.link}}/assets/img/made.jpg">
            <div class="logo">
                <picture>
                <source type="image/svg+xml" srcset="{{theme.link}}/assets/img/grythyttan-logo.svg">
                <img srcset="{{theme.link}}/assets/img/grythyttan-logo.png" alt="Grythyttan stålmöbler">
                </picture>
                <p>En svensk historie – nå i Norge</p>
            </div>
        </div>
    </section>

{% endblock %}
