{% extends 'master.twig' %}
{% block main %}
    <section class="site-width below-fixed-header">
        <div class="inner">

            <div class="overview">
                <header class="overview-categories">
                    <h2>{{furniture_series}}</h2>
                </header>
                <div class="overview-category">
                    <div class="overview-category-description">
                        <p>Den populära Klassikerserien har en speciell plats i mångas hjärtan, och är ett kärt inslag i många trädgårdar och täppor. Alla möbler har samma bakomliggande tanke: design, komfort och funktionalitet.</p>
                    </div>    
                    <div class="overview-category-products">
                        <ul>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>

        </div>     
    </section>
{% endblock %}

