{% extends 'master.twig' %}
{% block main %}
    <section class="site-width">
        <div class="inner">

            <div class="overview">
                <div class="overview-category">
                    <div class="overview-category-description">
                        <h1>{{series_name}}</h1>
                        <div class="title-br"></div>
                        {{ function('wpautop', description) }} 
                    </div>    
                    <div class="overview-category-products">
                        <ul>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <img src="{{theme.link}}/assets/img/exempel-produktgrid.jpg">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>

        </div>     
    </section>
{% endblock %}

