{% extends 'master.twig' %}
{% block main %}
    <section class="site-width">
        <div class="inner">

            <div class="overview">
                <div class="overview-category">
                    <div class="overview-category-description">
                        <h1>{{series.name}}</h1>
                        <div class="title-br"></div>
                        {{ function('wpautop', series.description) }} 
                        
                    </div>    
                    <div class="overview-category-products">
                        <ul class="product-list">
                            {% for post in posts %}
                                <li>
                                    <a href="{{ post.get_field('product_link') }}" target="_blank">
                                        <div class="inner">
                                            <div class="product">
                                                <img src="{{post.thumbnail}}">
                                                {{ post.title }}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div id="produktserier">
                            <div class="row">
                               {% for furniture_series in all_furniture_series %}
                                    {% if furniture_series.name != series.name %}
                                    <div class="column-3">
                                        {% include 'partials/produktserier-'~ furniture_series.slug ~'.twig' %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>

        </div>     
    </section>
{% endblock %}

