<section id="produktserier" class="site-width">
    <div class="inner">
        <h1>Vilken är din favorit?</h1>
        <div class="row">
            <div class="column-3">
                <div class="inner-column">
                    <a href="{{site.link}}/vara-mobler/klassikerserien">
                        <figure class="with-caption-overlay">
                            <img src="{{theme.link}}/assets/img/mo-klassikerserien.jpg" alt="Klassikerserien" class="mouse-over-image">
                            <img src="{{theme.link}}/assets/img/klassikerserien.jpg" alt="Klassikerserien">
                            <figcaption>
                                <h2 class="title">Klassikerserien</h2> 
                                <div class="title-br"></div>
                                <p>Klassikerserien har en speciell plats i mångas hjärtan, och är ett kärt inslag i svenska trädgårdar och täppor.</p>
                            </figcaption>
                            <span class="button transparent-fill white-border">Se hela serien</span>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="column-3">
                <div class="inner-column">
                    <a href="{{site.link}}/vara-mobler/high-tech">
                        <figure class="with-caption-overlay">
                            <img src="{{theme.link}}/assets/img/mo-hightech.jpg" alt="High-tech" class="mouse-over-image">
                            <img src="{{theme.link}}/assets/img/high-tech.jpg" alt="High-tech">
                            <figcaption>
                                <h2 class="title">High-tech</h2> 
                                <div class="title-br"></div>
                                <p>High-Tech-serien är ett resultat av ett av många samarbeten med möbeldesignern Nisse Strinning, mannen bakom bland annat Stringhyllan.</p>
                            </figcaption>
                            <span class="button transparent-fill white-border">Se hela serien</span>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="column-3">
                <div class="inner-column">
                    <a href="{{site.link}}/vara-mobler/bryggeriserien">
                        <figure class="with-caption-overlay">
                            <img src="{{theme.link}}/assets/img/mo-bryggeriserien.jpg" alt="Bryggeriserien" class="mouse-over-image">
                            <img src="{{theme.link}}/assets/img/bryggeriserien.jpg" alt="Bryggeriserien">
                            <figcaption>
                                <h2 class="title">Bryggeriserien</h2> 
                                <div class="title-br"></div>
                                <p>Paris, Milano, Barcelona. Bryggeriserien är en klassiker som för tankarna till de stora metropolerna och trendiga caféer.</p>
                            </figcaption>
                            <span class="button transparent-fill white-border">Se hela serien</span>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</section>
